###### Requirements without Version Specifiers ######



###### Requirements with Version Specifiers ######
#boto3>=1.28.57
#awscliv2>=2.2.0
#botocore>=1.31.57
langchain==0.0.309
transformers>=4.24,<5
faiss-cpu>=1.7,<2
ipywidgets>=7,<8
unstructured>=0.11.2


sqlalchemy>=2.0.23
datasets>=2.15.0
tiktoken>=0.4.0
deepdiff>=6.7.1
